<div>
  <% @rooms.each do |room| %>
    <%= react_component("RoomIndex", props: { room: room, roomId: room.id, roomPath: room_path(room.id),
                                              joinRoomPath: join_room_path(room.id),
                                              userAdminPseudo: room.user_admin.pseudo}) %>
  <% end %>
</div>

