<div>
  <div class="flex justify-between items-start <%= ['text-red-500', 'text-blue-500', 'text-green-500', 'text-yellow-500', 'text-purple-500', 'text-pink-500', 'text-indigo-500', 'text-teal-500'].sample %>">
    <div>
      <%= chat.message %>
    </div>
    <div class="text-sm">
      <%= time_ago_in_words(chat.created_at) %> ago
    </div>
  </div>
</div>
