<div class="flex mt-10 bg-neutral-900 space-y-4 mb-8">
  <table class="table-auto w-full border border-collapse border-slate-500 text-purple-500">
    <thead>
    <tr>
      <th class="border border-slate-600 border-2">Admin</th>
      <th class="border border-slate-600 border-2">Room Name</th>
      <th class="border border-slate-600 border-2">Style</th>
      <th class="border border-slate-600 border-2">Players</th>
      <th class="border border-slate-600 border-2">Spectators</th>
      <th class="border border-slate-600 border-2">Actions</th>
    </tr>
    </thead>
    <tbody>
      <%= turbo_stream_from "rooms" %>
        <%= render @rooms %>
    </tbody>
  </table>
</div>



